<%= render "layouts/errors", :object => @comment%>

<%= form_for [@post, @comment], remote: true do |f| %>
  <div class="field">
    <%= f.text_field :comment %><br>
    <%= f.label :comment %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
