<!DOCTYPE html>
<html>
<head>

  <title><%= yield(:title) %></title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">My Portfolio</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Blog', posts_path %></li>

        <% categories.each do |category| %>
          <li><%= link_to category.name, category_path(category.id) %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user == nil && current_admin == nil%>
          <li><%= link_to "", new_user_registration_path, class: "glyphicon glyphicon-user", title: "Sign Up" %></li>
          <li><%= link_to "", new_user_session_path, class: "glyphicon glyphicon-log-in", title: "Sign In" %></li>
          <li><%= link_to "Admin", new_admin_session_path %></li>
        <% end %>
        <% if current_user %>
          <li><%= link_to "Logged in as: #{current_user.email}", '/' %></li>
          <li><%= link_to '', destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out", title: "Sign Out" %></li>
          <li><%= link_to '', edit_user_registration_path, class: "glyphicon glyphicon-edit", title: "Edit Profile" %></li>
        <% end %>
        <% if current_admin %>
          <li><%= link_to "Logged in as: #{current_admin.email}", '/' %></li>
          <li><%= link_to '', destroy_admin_session_path, method: :delete, class: "glyphicon glyphicon-log-out", title: "Sign Out" %></li>
          <li><%= link_to '', edit_admin_registration_path, class: "glyphicon glyphicon-edit", title: "Edit Profile" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

  <%= flash[:alert] %>
  <%= flash[:notice] %>

  <div class="container">
    <div class="row">
      <h2 class="page-header text-center">
        <%= link_to 'My Portfolio', categories_path %>
      </h2>

      <div class="col-sm-6 col-sm-offset-3">
        <%= yield %>
      </div>

    </div>
  </div>

</body>
</html>
